/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORI */
:root {
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --footer-color: #333333;
    --light-font: #5a6e7f;

    --main-space: 2rem;
    --half-space: 1rem;
    --double-space: 4rem;
}

/* UTILITY */
.box-debug {
    background-color: darkgoldenrod;
    padding: 0.5rem;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
    padding: 0 2rem;
}

/* TESTO */
* {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

p {
    line-height: 1.9em;
}

* > a {
    color: inherit;
}

.golden-text {
    font-size: 4em;
    color: #fdc15f;
    font-weight: bold;
    line-height: normal;
}

.small-text {
    font-size: 0.9em;
    line-height: normal;
}

/* BOTTONI */
.btn {
    padding: 0.5em var(--main-space);
    display: inline-block;

    text-decoration: none;

    background-color: white;
    color: black;
    border-radius: 50px;
    text-align: center;

    cursor: pointer;
}

.btn.blue-btn {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.btn.purple-btn {
    background-color: var(--secondary-color);
    color: black;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.btn.white-btn {
    color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding: 1.5rem var(--double-space);
}

/* SECTIONS */
section {
    padding: var(--main-space) 0;
}

.secondary-bg {
    background-color: var(--secondary-color);
    color: white;
}


