/* ***** HEADER ***** */
header {
    background-color: var(--primary-color);
    padding: 1rem;
}


header .container {
    justify-content: space-between;
    align-items: center;
}

.menu {
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    color: white;
}

/* ***** MAIN ***** */

/* INTRO */
#intro .card-box {
    flex-wrap: wrap;
}

#intro .card-box .card {
    width: 100%;
    margin-bottom: var(--main-space);
    padding: 0 var(--main-space);

    background-color: var(--primary-color-light);
    border-radius: 20px;
}

#intro .card-box .card:not(:first-child) {
    text-align: center;
}

#intro .card-box .card h3 {
    margin-top: var(--main-space);
    color: var(--primary-color);
}

#intro .card-box .card p {
    margin: var(--main-space) 0;
    color: #5a6e7f;
    font-weight: bold;

}

#intro .card-box .card .img-box {
    margin-top: var(--main-space);
}

#intro .card-box .card img {
    display: block;
}

#intro .card-box .card .icon-head {
    margin-top: var(--main-space);
    color: var(--primary-color);
}

/* PLANNING */
#planning {
    padding: var(--main-space) 0;
    color: white;
}

#planning .col {
    margin: var(--main-space) 0;
}

#planning .col h2{
    margin-top: var(--double-space);
}

#planning .col p{
    margin-top: var(--main-space);
}

#planning .col.col-bg{
    padding: var(--main-space);
    background-color: white;
    color: black;
    border-radius: 20px;
    text-align: center;
}

#planning .col.col-bg h3 {
    margin-top: var(--half-space);
}

#planning .col.col-bg p {
    margin-top: var(--half-space);
    font-style: italic;
}

#planning .col.col-bg a{
    margin-top: var(--half-space);

    padding: 1em;
    line-height: 1em;
    border-radius: 50%;
}

/* TESTIMONIALS */
#testimonials .container > * {
    margin-bottom: var(--main-space);
}

#testimonials .card {
    background-color: var(--secondary-color);
    padding: var(--main-space) 0;
}

/* BENEFITS */
#benefits .card,
#benefits .container div:first-child {
    margin-bottom: var(--main-space);
}

/* ABOUT */
#about .container > * {
    margin-bottom: var(--main-space);
}

/* ABOUT */


/* ***** FOOTER ***** */
footer {
    background-color: var(--footer-color);
    padding: var(--main-space) 0;
}