/* ***** HEADER ***** */
header {
    background-color: var(--primary-color);
    padding: 1rem;
}


header .container {
    justify-content: space-between;
    align-items: center;
}

.menu {
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    color: white;
}

/* ***** MAIN ***** */

/* INTRO */
#intro .card-box {
    flex-wrap: wrap;
}

#intro .card-box .card {
    width: 100%;
    margin-bottom: var(--main-space);
    padding: 0 var(--main-space);

    background-color: var(--primary-color-light);
    border-radius: 20px;
}

#intro .card-box .card:not(:first-child) {
    text-align: center;
}

#intro .card-box .card h3 {
    margin-top: var(--main-space);
    color: var(--primary-color);
}

#intro .card-box .card p {
    margin: var(--main-space) 0;
    color: var(--light-font);
    font-weight: bold;

}

#intro .card-box .card .img-box {
    margin-top: var(--main-space);
}

#intro .card-box .card img {
    display: block;
}

#intro .card-box .card .icon-head {
    margin-top: var(--main-space);
    color: var(--primary-color);
}

/* PLANNING */
#planning {
    padding: var(--main-space) 0;
}

#planning .col {
    margin: var(--main-space) 0;
}

#planning .col h2{
    margin-top: var(--double-space);
}

#planning .col p{
    margin-top: var(--main-space);
}

#planning .col.col-bg{
    padding: var(--main-space);
    background-color: white;
    color: black;
    border-radius: 20px;
    text-align: center;
}

#planning .col.col-bg h3 {
    margin-top: var(--half-space);
}

#planning .col.col-bg p {
    margin-top: var(--half-space);
    font-style: italic;
}

#planning .col.col-bg a{
    margin-top: var(--half-space);

    padding: 1em;
    line-height: 1em;
    border-radius: 50%;
}

/* TESTIMONIALS */
#testimonials .container > * {
    margin-bottom: var(--main-space);
    text-align: center;
}

#testimonials h2 {
    color: var(--secondary-color);
}

#testimonials p {
    margin-top: var(--main-space);
    font-size: 1.2em;
}

#testimonials .card {
    padding: var(--main-space) var(--half-space);
    background-color: var(--secondary-color);
    color: white;
    border-radius: 40px;
    text-align: center;
}

#testimonials .card .img-box {
    width: 100%;
}

#testimonials .card img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

#testimonials .card p {
    margin-top: var(--half-space);
}

#testimonials .card h3 {
    margin-top: var(--main-space);
    text-transform:uppercase;
}


/* BENEFITS */
#benefits h2{
    margin-top: var(--main-space);
    text-align: center;
}

#benefits .card:first-child {
    margin-top: var(--double-space);
}

#benefits .card {
    margin-top: var(--main-space);
    padding: var(--main-space);
    background-color: white;
    color: var(--secondary-color);
    border-radius: 20px;
}

#benefits .card .number-head {
    font-size: 3em;
    font-weight: bold;
    text-align: left;
}

#benefits .card h3 {
    margin-top: var(--main-space);
}

#benefits .card p:not(.number-head) {
    margin-top: var(--main-space);
    color: var(--light-font);
}

#benefits .card .btn {
    margin-top: var(--main-space);
    color: white;
}

/* ABOUT */
#about .container > * {
    margin-bottom: var(--main-space);

}

/* ABOUT */


/* ***** FOOTER ***** */
footer {
    background-color: var(--footer-color);
    padding: var(--main-space) 0;
}